#                    ANSWER:1

## *ADDITION

In [1]:
a = int (input("enter a number:"))
b = int(input("enter a number:"))
c = int(input("enter a number:"))
d = a+b+c
d

enter a number:558
enter a number:69
enter a number:7

634

## *SUBTRACTION

In [2]:
a = int(input("enter a number:"))
b = int(input("enter a number:"))
c = a-b
c

enter a number:57
enter a number:36

21

## *MULTIPLICATION

In [3]:
a = int(input("enter a number:"))
b = int(input("enter a number:"))
c = a*b;
c

enter a number:3
enter a number:6

18

## *DIVISION

In [4]:
a = int(input("enter a number:"))
b = int(input("enter a number:"))
c = a/b
c

enter a number:8
enter a number:2

4.0

## *POWER

In [5]:
a = int(input("enter a number:"))
b = int(input("enter a number:"))
c = a**b
c

enter a number:8
enter a number:2

64

#                    ANSWER:2

In [6]:
list = ["abc","def",4,"ghi"]
for x in list:
     if type(x) == int:
        print(x)

4

#                    ANSWER:3

In [7]:
c = dict([(1,"LION"),(2,"HORSE"),(3,"BUFFALO")])
c[4] = "MONKEY"
print(type(c));
print(c);

<class 'dict'>
{1: 'LION', 2: 'HORSE', 3: 'BUFFALO', 4: 'MONKEY'}

# ANSWER:4

In [8]:
own_dict ={'black':50,'orange':10,'yellow':90}
print(sum(own_dict.values()))

150

# ANSWER:5

In [9]:
lst1 = [2,4,8,10];
lst2 = [1,2,3,4,5,6,7,8];
t_lst = []
for a in lst1:
    for b in lst2:
        if (a==b):
            t_lst.append(a)
print(t_lst)

[2, 4, 8]

# ANSWER:6

In [10]:
c = dict([(1,"LION"),(2,"HORSE"),(3,"BUFFALO")])
c[3] = "ELEPHANT"
c

{1: 'LION', 2: 'HORSE', 3: 'ELEPHANT'}